.spanStyle {

    font-weight: 900;

}

.navbarStyle {

    border-bottom: 2px solid black !important;
    background-color: #e82f3e !important;

}

.spanStyle {

    color: white !important;
    text-shadow: 2px 2px 2px black !important;

}

.navbarStyle2 {

    background-color: #e82f3e !important;

}

.anchorStyle {

    color: white !important;

}


.anchorStyle:hover {

    border-bottom: 1px solid white !important;

}