.formStyle {

    margin-top: 4em;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

}

.loginButton {

    width: 100% !important;
    background-color: #e82f3e !important;
    border: 1px solid black;
    box-shadow: none !important;
    outline: none !important;
}

.loginButton:hover, .loginButton:active, .loginButton:focus {
    box-shadow: none !important;
    outline: none !important;
    background-color: #fc4151 !important;
    border: 1px solid black !important;

}

.inputStyle {

    border: 1px solid black !important;

}

.inputStyle:hover, .inputStyle:active, .inputStyle:focus {

    border: 1px solid #e82f3e !important;
    box-shadow: none !important;
    outline: none !important;

}

.containerErrorAll {


    display: flex;
    justify-content: center;

}

body {

    background-color: #6b020b !important;

}

